:root
{
    --favcolor: rgb(0, 206, 209);
}
h1
{
    text-align: center;
    color: var(--favcolor);
    background-color: rgb(0,0,0);
    font-size: 35pt;
}
section
{
    color: var(--favcolor);
    float: right;
}
p
{
    font-size: 15pt;
}
#mainpic
{
    border-radius: 40%;
}
div.button
{
    text-align: center;
}
